.App {
  text-align: center;
}

/* * {
  border: 1px solid #000
} */

.AdaptiveSelector,
.TimingTab,
.ScannerTab,
.DetailTab {
  height: 7vh;
  display: flex;
}

.ScannerTab {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.divInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideup 0.5s ease-out;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  flex-grow: 1;
  padding: 10px;
}

.btnScannerTab,
.btnDetailTab,
.btnTimingTab {
  animation: slideup 0.5s ease-out;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid #000; /* Black border */
  border-radius: 10px;
  font-size: 14px;
  flex-grow: 1;
  text-align: center;
}

.btnScannerTab.selected,
.btnDetailTab.selected,
.btnTimingTab.selected {
  color: white;
  background-color: #db5a14;
}

.App .AdaptiveSelector .btnScannerTab {
  transition: transform 0.5s ease-in-out;
}

.App.panel-closing .AdaptiveSelector .btnScannerTab {
  transform: translateY(150%);
}

.App .AdaptiveSelector .btnDetailTab {
  transition: transform 0.5s ease-in-out;
}

.App.panel-closing .AdaptiveSelector .btnDetailTab {
  transform: translateY(150%);
}

.App .AdaptiveSelector .btnTimingTab {
  transition: transform 0.5s ease-in-out;
}

.App.panel-closing .AdaptiveSelector .btnTimingTab {
  transform: translateY(150%);
}

.btnBack {
  animation: slideup 0.5s ease-out;
  color: #ffffff;
  background-color: #db5a14;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid #000; /* Black border */
  border-radius: 10px;
  font-size: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  width: 13vw;
}

.App .commonTabClass .btnBack {
  transition: transform 0.5s ease-in-out;
}

.App .commonTabClass .btnScan {
  transition: transform 0.5s ease-in-out;
}

.App .commonTabClass .divInfo {
  transition: transform 0.5s ease-in-out;
}

.App .commonTabClass.panel-closing .btnBack {
  transform: translateY(150%);
}

.App .commonTabClass.panel-closing .btnScan {
  transform: translateY(150%);
}

.App .commonTabClass.panel-closing .divInfo {
  transform: translateY(150%);
}

.btnScan {
  animation: slideup 0.5s ease-out;
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid #000; /* Black border */
  border-radius: 10px;
  font-size: 14px;
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnScan.compressed {
  transform: scaleX(0.2);
  transform-origin: left;
}

.btnScan.compressed .btnScanIcon {
  transform: scaleX(5);
}

.btnScan svg {
  width: 24px;
  height: 24px;
}

@keyframes slideup {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}